:root {
    --bg-color: #fffef1;
    --font-color:blue;
    --tau: 500ms;
    --long-tau: 800ms;
    --title-pos: 40vh;
  }

/* Import font */
@font-face {
    font-family: "Lexend";
    src: url("Lexend-VariableFont_wght.ttf");
    text-rendering: optimizeLegibility;
    font-weight: normal;
    font-style: normal;
}

html,
body { 
    width: 100vw;
    height: 100vh;
    /* remove scrollbar */
    scrollbar-width: none;
    /*overflow: visible;*/
    /* remove gap at top for nav bar */
    margin: 0;
    padding-top: 0;
    /* bg color + transition */
    background-color: var(--bg-color);
    -webkit-transition: background-color var(--tau) linear;
    -ms-transition: background-color var(--tau) linear;
    transition: background-color var(--tau) linear;
    /* help safari render font well */
    -webkit-font-smoothing: subpixel-antialiased !important;
}

/* TOP BAR */
.navigation-bar {
    /* Take the whole width */
    display: block;
    /* Height of nav bar */
    height: 4vh;
    /* Make nav stick at top */
    z-index: 1000;
    top: 0%;
    position: sticky;
    /* Add some space in between */
    padding: 2.7vmin;
    word-spacing: 3.7vmin;
    transition: all var(--tau);
}

.navigation-bar a {
    font-family: 'Lexend';
    font-weight: 600;
    font-size: 3.3vmin;/*min(2.5vw, 15px);*/
    color: var(--font-color);
    text-decoration: transparent wavy underline;
    -webkit-text-decoration: transparent wavy underline;
    transition: all var(--tau);
}

#home {
    float: left;
    transition: all var(--tau);
    opacity: 0;
}

.menu { 
    float: right;
    opacity: 0;
    transition: all var(--tau);
}

/* COVER */
.follow {
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: auto;
    z-index: 0;
}

/* Style for cover section */
.cover {
    margin: auto;
    width: 100vw;
    height: 100vh;
    /* stack elements horizontally */
    display: grid;
    /* prevent overlapping */
    position: relative;
    color: var(--font-color);
    font-weight: 400;
    font-family: 'Lexend';
}

/* Style for cover title */
#title-container {
    top: var(--title-pos);
}

.title {
    display: flex;
    width: 100vw;
    top: 0;
    left: 0;
    right: 0;
    justify-content: center;
    position: fixed;
    z-index: 999;
    align-items: center;
    /* Font settings */
    text-align: center;
    font-size: min(11vmax, 15vw);  
}

/* Subtitle */
.subtitle {
    display: flex;
    position: fixed;
    margin-top: min(11vmax, 15vw);
    top: var(--title-pos);
    right: 0;
    z-index: 1000;
    font-size: max(3.5vw, 5vmin);
    color: var(--font-color);
    transition: opacity var(--long-tau);
    transition-property: font-size, opacity;
    opacity: 0;
    margin-right: 4.5vmax;
}

.alphas {  
    display: inline-block;
    width:15%;
    transition: all var(--tau) ease-in-out;
    transition-property: font-size, opacity;
    opacity: 0;
    overflow: hidden;
}

#intro1 {
    text-align: end;
    margin: 0;
}

#intro2 {
    text-align: start;
}

.knob {
    display: inline-block;
    transition: all var(--tau) ease-in-out;
    transition-property: font-size, opacity, width;
    overflow: hidden;
    opacity: 0;
    position: relative;
    transform: rotate(0);
    user-select: none; /* Standard syntax */
    word-wrap: normal;
    word-break: normal;
}

#logo {
    /* position: fixed; */
    opacity: 1;
}

@keyframes widthOpen {
    from   {width: 0%;}
    to {width: 100%;}
}

.about-page {
    height: 100vh;
    width: 100vw;
    /* background-color: #fdfdfd; */
}