/* Import font */
@font-face {
    font-family: "Lexend";
    src: url("Lexend-VariableFont_wght.ttf");
    text-rendering: optimizeLegibility;
    font-weight: normal;
    font-style: normal;
}

html,
body { 
    width: 100vw;
    height: 200vh;
    /* remove scrollbar */
    scrollbar-width: none;
    /* remove gap at top for nav bar */
    margin: 0;
    padding-top: 0;
    background-color: #fffef1;
    /* help safari render font well */
    -webkit-font-smoothing: subpixel-antialiased;
}

/* TOP BAR */
.navigation-bar {
    /* Take the whole width */
    display: block;
    /* Height of nav bar */
    height: 5vh;
    /* Make nav stick at top */
    z-index: 1000;
    top: 0%;
    position: sticky;
    /* Add some space in between */
    padding: 15px;
    word-spacing: 15px;
    transition: all 1s;
}

.navigation-bar a {
    font-family: 'Lexend';
    font-weight: 600;
    font-size: min(2.5vw, 15px);
    color: blue;
    text-decoration: transparent wavy underline;
    -webkit-text-decoration: transparent wavy underline;
    transition: all 0.7s;
}

#home {
    float: left;
    transition: all 0.5s;
    opacity: 0;
}

.menu { 
    float: right;
    opacity: 0;
    transition: all 1s;
}

/* COVER */
/* Style for cover section */
.cover {
    margin: auto;
    width: 100vw;
    height: 100vh;
    /* stack elements horizontally */
    display: grid;
    /* prevent overlapping */
    position: relative;
    color: blue;
    font-weight: 400;
    font-family: 'Lexend';
}

/* Style for cover title */
.title {
    display: flex;
    width: 100%;
    /* Center horizontally */
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: end;
    /* Font settings */
    text-align: center;
    font-size: min(13vw, 128px);    
}

/* Subtitle */
.subtitle {
    display: block;
    height: 50vh;
    font-size: min(4vw, 50px);
    color: blue;
    transition: opacity 0.6s;
    transition-property: font-size, opacity;
    opacity: 0;
    text-align: right;
    margin-right: 8vw;
}

.alphas {
    display: inline-block;
    width:15%;
    transition: all 500ms ease-in-out;
    transition-property: font-size, opacity;
    opacity: 0;
    overflow: hidden;
}

#intro1 {
    text-align: end;
}

#intro2 {
    text-align: start;
}

.knob {
    display: inline-block;
    transition: font-size 500ms ease-in-out;
    transition-property: font-size, opacity;
    opacity: 1;
    position: relative;
    overflow: hidden;
    transform: rotate(0);
    user-select: none; /* Standard syntax */
    word-wrap: normal;
    word-break: normal;
}

#logo {
    /* position: fixed; */
    opacity: 1;
}

@keyframes widthOpen {
    from   {width: 0%;}
    to {width: 100%;}
}

.about-page {
    height: 100vh;
    width: 100vw;
    background-color: #fdfdfd;
}