:root {
    --bg-color: #fffef1;
    --font-color:blue;
    --short-tau: 200ms;
    --tau: 400ms;
    --long-tau: 800ms;
    --title-pos: 33dvh;
    --title-width: 100dvw;
    --portrait-pos: 0dvh;
    --show-portrait: 0;
  }

/* Import font */
@font-face {
    font-family: "Lexend";
    src: url("Lexend-VariableFont_wght.ttf");
    text-rendering: optimizeLegibility;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("Montserrat-VariableFont_wght.ttf");
    text-rendering: optimizeLegibility;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gilda";
    src: url("GildaDisplay-Regular.ttf");
    text-rendering: optimizeLegibility;
    font-weight: normal;
    font-style: normal;
}

html,
body {
    /* remove scrollbar */
    scrollbar-width: none;
    width: 100dvw;
    height:100dvh;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100dvh);
    scroll-snap-type: y mandatory;
    /* remove gap at top for nav bar */
    margin: 0;
    padding-top: 0;
    /* bg color + transition */
    background-color: var(--bg-color);
    -webkit-transition: background-color var(--tau) linear;
    -ms-transition: background-color var(--tau) linear;
    transition: background-color var(--tau) linear;
    
    font-size: 1vmax; 
    color: var(--font-color);
    font-weight: 400;
    font-family: 'Montserrat'; 
    /* help safari render font well */
    -webkit-font-smoothing: subpixel-antialiased !important;

    margin:0;
    padding:0;
}

/* DIMENSIONS FOR PORTRAIT */
@media screen and (max-aspect-ratio: 1/1) {
    #main-text {
        display: grid;
        position: sticky;
        align-content: center;
        width: 100dvw;
        height: 33.33dvh;
        margin-top: -33.33dvh;
        top: var(--title-pos);
        z-index: 999;
    }
    .title {
        display: flex;
        width: 100dvw;
        justify-content: center;
        position: sticky;
        z-index: 999;
        align-items: center;
        /* Font settings */
        text-align: center;
        font-size: min(11dvh, 15dvw); 
        color: var(--font-color);
        font-weight: 400;
        font-family: 'Lexend'; 
    }
    
    /* Subtitle */
    .subtitle {
        display: inline-block;
        position: sticky;
        z-index: 1000;
        text-align: right;
        font-size: 4dvw;
        font-weight: 400;
        font-family: 'Lexend'; 
        color: var(--font-color);
        transition: opacity var(--long-tau);
        transition-property: font-size, opacity;
        opacity: 0;
        margin-right: 2.8dvh;
    }

    /* TOP BAR */
    #nav {
        position: fixed;
        display: inline-block;
        left: 0;
        right: 0;
        top: 0;
        /* Add some space in between */
        padding: 2.7dvw;
        /*word-spacing: 3.7vmin;*/
        /* Height of nav bar */
        height: 4dvh;
        z-index: 1000;
    }

    .navigation-bar a {
        font-family: 'Lexend';
        font-weight: 600;
        font-size: 3.3dvw;/*min(2.5vw, 15px);*/
        color: var(--font-color);
        text-decoration: transparent wavy underline;
        -webkit-text-decoration: transparent wavy underline;
        transition: all var(--tau);
    }

    #menu {
        width: 50dvw; /*33vw*/
        float: right;
        text-align: center;
    }

    #about-p1 {
        display: flex;
        text-align: justify;
        font-size: 5dvw;
        max-width: 70dvw;
        height: 100dvh;
        top: 33dvh;
        justify-content: center;
        align-items: center;
        margin-inline: auto;
    }
    
    .about-p1 {
        display: flex;
        text-align: justify;
        font-size: 5dvw;
        max-width: 70dvw;
        height: 100dvh;
        top: 33dvh;
        justify-content: center;
        align-items: center;
        margin-inline: auto;
        margin-top: 0;
        margin-bottom: 0;
    }
    
    .about-h1 {
        font-family: 'Gilda';
    }
    
    table {
        position: relative;
        top: 33dvh;
        width: 94.6dvw;
        padding-inline: 2.7dvw;
        margin-left: auto;
        margin-right: auto;
        height: 40dvh;
        border-collapse: collapse;
    }
    
    th {
        font-family: 'Gilda';
        font-size: 6dvw;
        font-weight: normal;
        text-align: left;
    }
    
    .jobmain {
        font-family: 'Montserrat';
        font-weight: bold;
        font-size: 4.5dvw;
        vertical-align: bottom;
        border-top: 0.5px solid var(--font-color);
    }
    
    .jobdet {
        font-family: 'Gilda';
        font-size: 4.5dvw;
        vertical-align: top;
    }

    .jobref {
        font-family: 'Montserrat';
        font-weight: bold;
        font-size: 4.5dvw;
        vertical-align: top;
        opacity: 0.2;
        transition: opacity var(--tau) ease-in-out;
        border-top: 0.5px solid var(--font-color);
    }

    #portrait-container {
        position: relative;
        top: 10dvh;
        bottom: 75dvh;
        width: 100dvw;
        align-content: center;
    }
    #portrait-vid {
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 1px;
        opacity: var(--show-portrait);
        object-fit: contain;
        height: 60dvh;
        width: 75dvw;
    }
}

@media screen and (aspect-ratio: 1/1) {
    #main-text {
        display: grid;
        position: sticky;
        align-content: center;
        width: 100dvw;
        height: 33.33dvh;
        margin-top: -33.33dvh;
        top: var(--title-pos);
        z-index: 999;
    }
    .title {
        display: flex;
        width: 100dvw;
        justify-content: center;
        position: sticky;
        z-index: 999;
        align-items: center;
        /* Font settings */
        text-align: center;
        font-size: min(11dvh, 15dvw); 
        color: var(--font-color);
        font-weight: 400;
        font-family: 'Lexend'; 
    }
    
    /* Subtitle */
    .subtitle {
        display: inline-block;
        position: sticky;
        z-index: 1000;
        text-align: right;
        font-size: 4dvw;
        font-weight: 400;
        font-family: 'Lexend'; 
        color: var(--font-color);
        transition: opacity var(--long-tau);
        transition-property: font-size, opacity;
        opacity: 0;
        margin-right: 2.8dvh;
    }

    /* TOP BAR */
    #nav {
        position: fixed;
        display: inline-block;
        left: 0;
        right: 0;
        top: 0;
        /* Add some space in between */
        padding: 2.7dvw;
        /*word-spacing: 3.7vmin;*/
        /* Height of nav bar */
        height: 4dvh;
        z-index: 1000;
    }

    .navigation-bar a {
        font-family: 'Lexend';
        font-weight: 600;
        font-size: 3.3dvw;/*min(2.5vw, 15px);*/
        color: var(--font-color);
        text-decoration: transparent wavy underline;
        -webkit-text-decoration: transparent wavy underline;
        transition: all var(--tau);
    }

    #menu {
        width: 50dvw; /*33vw*/
        float: right;
        text-align: center;
    }

    #about-p1 {
        display: flex;
        text-align: justify;
        font-size: 5dvw;
        max-width: 70dvw;
        height: 100dvh;
        top: 33dvh;
        justify-content: center;
        align-items: center;
        margin-inline: auto;
    }
    
    .about-p1 {
        display: flex;
        text-align: justify;
        font-size: 5dvw;
        max-width: 70dvw;
        height: 100dvh;
        top: 33dvh;
        justify-content: center;
        align-items: center;
        margin-inline: auto;
        margin-top: 0;
        margin-bottom: 0;
    }
    
    .about-h1 {
        font-family: 'Gilda';
    }
    
    table {
        position: relative;
        top: 33dvh;
        width: 94.6dvw;
        padding-inline: 2.7dvw;
        margin-left: auto;
        margin-right: auto;
        height: 40dvh;
        border-collapse: collapse;
    }
    
    th {
        font-family: 'Gilda';
        font-size: 6dvw;
        font-weight: normal;
        text-align: left;
    }
    
    .jobmain {
        font-family: 'Montserrat';
        font-weight: bold;
        font-size: 4.5dvw;
        vertical-align: bottom;
        border-top: 0.5px solid var(--font-color);
    }
    
    .jobdet {
        font-family: 'Gilda';
        font-size: 4.5dvw;
        vertical-align: top;
    }

    .jobref {
        font-family: 'Montserrat';
        font-weight: bold;
        font-size: 4.5dvw;
        vertical-align: top;
        opacity: 0.2;
        transition: opacity var(--tau) ease-in-out;
        border-top: 0.5px solid var(--font-color);
    }

    #portrait-container {
        position: relative;
        top: 10dvh;
        bottom: 75dvh;
        width: 100dvw;
        align-content: center;
    }
    #portrait-vid {
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 1px;
        opacity: var(--show-portrait);
        object-fit: contain;
        height: 60dvh;
        width: 75dvw;
    }
}

/* DIMENSIONS FOR LANDSCAPE */
@media screen and (min-aspect-ratio: 1/1) {
    #main-text {
        display: grid;
        position: sticky;
        align-content: center;
        width: 100dvw;
        height: 33.33dvh;
        margin-top: -33.33dvh;
        top: var(--title-pos);
        z-index: 999;
    }

    .title {
        display: flex;
        width: 100dvw;
        justify-content: center;
        position: sticky;
        z-index: 999;
        align-items: center;
        /* Font settings */
        text-align: center;
        font-size: 18dvh; 
        color: var(--font-color);
        font-weight: 400;
        font-family: 'Lexend';
    }
    
    /* Subtitle */
    .subtitle {
        display: inline-block;
        position: sticky;
        z-index: 1000;
        font-size: 3dvw;
        font-weight: 400;
        font-family: 'Lexend'; 
        color: var(--font-color);
        transition: opacity var(--long-tau);
        transition-property: font-size, opacity;
        opacity: 0;
        text-align: right;
        margin-right: 8dvw;
    }
    
    /* TOP BAR */
    #nav {
        position: fixed;
        display: inline-block;
        left: 0;
        right: 0;
        top: 0;
        /* Add some space in between */
        padding: 1.5dvh;
        /*word-spacing: 3.7vmin;*/
        /* Height of nav bar */
        height: 4dvh;
        z-index: 1000;
    }

    .navigation-bar a {
        font-family: 'Lexend';
        font-weight: 600;
        font-size: 3dvh;/*min(2.5vw, 15px);*/
        color: var(--font-color);
        text-decoration: transparent wavy underline;
        -webkit-text-decoration: transparent wavy underline;
        transition: all var(--tau);
    }

    #menu {
        width: 33dvw;
        float: right;
        text-align: center;
    }

    #about-p1 {
        display: flex;
        text-align: justify;
        font-size: 3dvw;
        max-width: 70dvw;
        height: 100dvh;
        top: 33dvh;
        justify-content: center;
        align-items: center;
        margin-inline: auto;
    }
    
    .about-p1 {
        display: flex;
        text-align: justify;
        font-size: 3dvw;
        max-width: 70dvw;
        height: 100dvh;
        top: 33dvh;
        justify-content: center;
        align-items: center;
        margin-inline: auto;
        margin-top: 0;
        margin-bottom: 0;
    }
    
    .about-h1 {
        font-family: 'Gilda';
    }
    
    table {
        position: relative;
        top: 33dvh;
        width: 66dvw;
        padding-inline: 1.5dvh;
        margin-left: auto;
        margin-right: auto;
        height: 40dvh;
        border-collapse: collapse;
    }
    
    th {
        font-family: 'Gilda';
        font-size: 4dvw;
        font-weight: normal;
        text-align: left;
    }
    
    .jobmain {
        font-family: 'Montserrat';
        font-weight: bold;
        font-size: 2.5dvw;
        vertical-align: bottom;
        border-top: 0.5px solid var(--font-color);
    }
    
    .jobdet {
        font-family: 'Gilda';
        font-size: 2.5dvw;
        vertical-align: top;
    }

    .jobref {
        font-family: 'Montserrat';
        font-weight: bold;
        font-size: 2.5dvw;
        vertical-align: top;
        opacity: 0.2;
        transition: opacity var(--tau) ease-in-out;
        border-top: 0.5px solid var(--font-color);
    }

    #portrait-container {
        position: relative;
        top: 9dvh;
        bottom: 70dvh;
        width: 100dvw;
        align-content: center;
    }

    #portrait-vid {
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 1px;
        opacity: var(--show-portrait);
        object-fit: contain;
        height: 60dvh;
    }
}

video::-webkit-media-controls-panel {
    display: none !important;
    opacity: 1 !important;
}

/* CONTAINER FOR SCROLL SNAP */
.dumbtainer {
    position:relative;
    width:100dvw;
    height:100dvh;
    scrollbar-width: none;
    overflow-x:hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;  
    -webkit-scroll-snap: y mandatory;
    scroll-snap-points-y: repeat(100dvh);
}

a {
    color: inherit;
    text-decoration: inherit;
}

.navigation-bar {
    /* Make nav stick at top */
    z-index: 1000;
    transition: all var(--tau);
}

#about {
    float: left;
}

#contact {
    vertical-align:top;
}

#work {
    float: right;
}

.menu { 
    opacity: 0;
    transition: all var(--tau);
}

/* COVER */
.follow {
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: auto;
    z-index: 0;
}

/* Style for cover section */
#cover-page {
    /*
    background-image: url('cover.png');
    background-repeat: no-repeat;
    background-size: contain;
    */
    z-index: 0;
    top: 0;
    left: 0;
    margin: 0;
    width: 100dvw;
    height: 100dvh;
    /* stack elements horizontally */
    display: grid;
    /* prevent overlapping */
    /*position: relative;*/
}

/* Style for cover title */
#title-container {
    align-items: center;
    margin-bottom: 0;
}

.alphas {  
    display: inline-block;
    width:20%;
    transition: all var(--tau) ease-in-out;
    transition-property: font-size, opacity;
    opacity: 0;
    overflow: hidden;
}

#intro1 {
    text-align: end;
    max-width: var(--title-width);
    margin: 0;
}

#intro2 {
    text-align: start;
    max-width: var(--title-width);
}

.knob {
    display: inline-block;
    transition: all var(--tau) ease-in-out;
    transition-property: font-size, opacity, width;
    max-width: var(--title-width);
    overflow: hidden;
    opacity: 0;
    position: relative;
    transform: rotate(0);
    user-select: auto; /* Standard syntax */
    word-wrap: normal;
    word-break: normal;
}

#logo {
    /* position: fixed; */
    opacity: 1;
}

@keyframes widthOpen {
    from   {width: 0%;}
    to {width: 100%;}
}

#about-page {
    position: relative;
    height: 100vh;
    width: 100%;
    left: 0;
    display: grid;
    /*
    background-color: #fdfdfd;
    background-image: url('photo.png');
    background-repeat: no-repeat;
    background-size: contain;
    */
}

#portrait-img {
    position: relative;
    /*transition: opacity var(--short-tau) ease-in-out;*/
    opacity: var(--show-portrait);
    object-fit: cover;
    height: 50dvh;
    top: 17%;
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translateX(-50%); /* This is a shorthand of
                                         translateX(-50%) and translateY(-50%) */
}

#credits {
    position: absolute;
    opacity: 0.25;
    transition: opacity var(--short-tau);
    bottom: 0%;
    left: 0%;
    font-size: 2dvh;
    z-index: 2000;
} 

#credits:hover {
    opacity: 0.75;
}

#portrait-text {
    text-align: center;
}

.jobtitle {
    text-align: left;
}

.jobdate {
    text-align: right;
}

.jobref:hover {
    opacity: 1;
}

section {
    top: 0;
    height: 100dvh;
    width: 100dvw;
    scroll-snap-align: start;
    -webkit-scroll-snap-align: start;
    position: relative;
}

.grid {
    background-image:
        linear-gradient(to right, var(--font-color) 1px, transparent 1px),
        linear-gradient(to bottom, var(--font-color) 1px, transparent 1px);
    background-size: 5dvh 5dvh;
    background-position: center center;
    
}

#work-page {
    clip-path: inset(0 0 100% 0 round 0 0 0 0);
    transition: clip-path 2s ease-in-out;
}