@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);
:host {
    top: 0%;
    height: 100%;
    width: 100%;
    font-weight: 400;
    font-style: normal;
    font-family: 'Montserrat';
    background: var(--work-bg-color);
    color: var(--work-tx-color);
    display: block;
    position: relative;
}

section {
    /* Set section size and position */
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 2;
  pointer-events: auto;
}

.post-it {
    width:15dvw;
    height:15dvw;
    position:relative;
    background:#ffa;
    overflow:hidden;
    z-index: 10;
    margin:30px auto;
    padding:20px;
    border-radius:0 0 0 30px/45px;
    box-shadow:
    inset 0 -40px 40px rgba(0,0,0,0.2),
    inset 0 25px 10px rgba(0,0,0,0.2),
    0 5px 6px 5px rgba(0,0,0,0.2);
    font-family: 'Permanent Marker', cursive;
    font-weight: auto;
    font-style: auto;
    line-height:3dvh;
    font-size:1.8dvw;
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
    pointer-events: auto;
    color:#130d6b;
}

h1 {
    font-size:2.2dvw; 
    position:relative;
}

#apcwrap {
    z-index: 2;
    grid-row: 3 / 3; /* Starts at row 2, spans down 2 rows */
    grid-column: 2 / 3;       /* Defaults to taking up just 1 column track */
    width: 33.33dvw;
    height: 33.33dvh;
}

#apc {
    position: relative;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    object-fit: contain;
    transform: rotate(8deg);
    pointer-events: auto;
}

#apcwrap .tooltip-content {
  display: block;
  position: absolute;
  bottom: 5%;
  left: 5%;
  right: 5%;
  border-radius: 1dvw;
  background-color: var(--work-tx-color);
  color: var(--contact-tx-color);
  padding: 5%;
  min-width: 10%;
  max-width: 33%;
  opacity: 0;
  transition: opacity var(--tau);
  pointer-events: auto;
}

#apcwrap:hover .tooltip-content {
  opacity: 0.9;
}

/* DIMENSIONS FOR PORTRAIT */
@media screen and (max-aspect-ratio: 1/1) {
    :host {
    font-size: 3dvw;
    }

    .post-it {
        position: absolute;
        width:40dvw;
        height:40dvw;
        line-height:2dvh;
        font-size:2dvh;
        padding: 1px;
        bottom: 0%;
        left: 25%;
    }

    h1 {
    font-size:2.3dvh; 
    position:relative;
    }

}
